<style>
  .news-button-container {
    text-align: left;
    margin: 10px 0;
  }
  .news-button-container button {
    padding: 10px 20px;
    border: none; /* No border */
    cursor: pointer;
    border-radius: 5px; /* Optional: keep the border radius */
  }
</style>


<div class="news-button-container">
  <button onclick="scrollToNews()">More > > > </button>
</div>

<script>
function scrollToNews() {
  const newsSection = document.getElementById('news');
  if (newsSection) {
    newsSection.scrollIntoView({behavior: 'smooth'});
  } else {
    window.location.href = '{{ site.baseurl }}/news/';
  }
}
</script>